#calc-container {
  width: 400px;
  margin: 50px auto;
}

#keypad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calc-button {
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}